<%= render "nav" %>

<div class="row">
	<h1 class="span12"><%=t :blog_title %></h1>
</div>

<div class="row">
	<div class="span8">
<h3>Blog</h3>
<section>
	<h4>Smockle Resources</h4>
	<p><a>Color Palettes</a> // Coming soon. A collection of free color palettes. Curated by Smockle.</p>
	<p><a>jQuery Plugins</a> // Coming soon. A collection of free jQuery plugins. Developed by Smockle.</p>
	<p><a>Web Fonts</a> // Coming soon. A web application that makes web fonts easy. Developed by Smockle.</p>
</section>

<section>
	<h4>General</h4>
	<p><a href="http://24ways.org">24 Ways</a> // Yearly publication in December. Features guest posts from top web developers each day until Christmas.</p>
	<p><a href="http://abduzeedo.com">Abduzeedo</a> // Design inspirations and Photoshop tutorials.</p>
	<p><a href="http://www.alistapart.com">A List Apart</a> // High-quality publication advocating web standards. Very well-respected.</p>
	<p><a href="http://caniuse.com">Can I Use?</a> // Almost comprehensive list of HTML/CSS/JS features and which browsers support them.</p>
	<p><a href="http://tympanus.net/codrops/">Codrops</a> // Blog which offers weekly "collections" of free resources (eg. fonts, icons, templates, plugins, etc.).</p>
	<p><a href="http://designshack.net">Design Shack</a> // Blog which offers in-depth design critiques of existing sites. Good for inspiration and color palettes.</p>
	<p><a href="http://html5doctor.com">HTML5 Doctor</a> // Blog which answers user-submitted questions about HTML5 and related technologies.</p>
	<p><a href="http://www.smashingmagazine.com">Smashing Magazine</a> // High-quality online web development magazine that features guest authors.</p>
	<p><a href="http://blog.teamtreehouse.com">Team Treehouse</a> // Web development for beginners.</p>
	<p><a href="http://www.webplatform.org">Web Platform</a> // Documentation effort sponsored by Adobe, Apple, Facebook, Google, Microsoft, Mozilla, and others.</p>
</section>

<section>
	<h4>Colors</h4>
	<p><a href="http://meyerweb.com/eric/tools/color-blend/">Color Blender</a> // Find intermediate colors.</p>
	<p><a href="http://colorschemedesigner.com">Color Scheme Designer</a> // Use color theory to choose a palette.</p>
	<p><a href="https://kuler.adobe.com/#">Kuler</a> // Color palettes hosted by Adobe.</p>
</section>

<section>
	<h4>Fonts</h4>
	<p><a href="http://html.adobe.com/edge/webfonts/">Adobe Web Fonts</a> // Another web font repository, hosted by Adobe.</p>
	<p><a href="http://www.designerstalk.com/forums/graphic-design/42390-design-basics.html">Designers Talk</a> // Forum thread about typography. Covers kerning, leading, tracking, grids, etc.</p>
	<p><a href="http://www.fontsquirrel.com/">Font Squirrel</a> // Another web font repository.</p>
	<p><a href="http://www.google.com/webfonts">Google Web Fonts</a> // Fonts hosted by Google, free for personal and commercial use.</p>
	<p><a href="http://typespiration.com">Typespiration</a> // Well-chosen typeface pairs.</p>
</section>

<section>
	<h4>Frameworks</h4>
	<p><a href="http://foundation.zurb.com">Foundation</a> // Free, reusable library of CSS (Sass) and JavaScript. Includes things like tabs, modal popups, etc.</p>
	<p><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> // Free, reusable library of CSS (LESS) and JavaScript. Includes things like tabs, modal popups, etc.</p>
	<p><a href="http://www.eyecon.ro/colorpicker-and-datepicker-for-twitter-bootstrap.htm">Twitter Bootstrap Extras</a> // Bootstrap styled colorpicker and datepicker.</p>
</section>

<section>
	<h4>Icons</h4>
	<p><a href="http://adamwhitcroft.com/batch/">Batch</a> // Icon set with 300+ icons, free for personal and commercial use.</p>
	<p><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> // A free icon font.</p>
	<p><a href="http://gregoryloucas.github.com/Font-Awesome-More/">Font Awesome More</a> // Font Awesome plus extra icons.</p>
	<p><a href="http://fontello.com">Fontello</a> // Generate an icon font containing only the icons you need.</p>
	<p><a href="http://gemicon.net">Gemicon</a> // Icon set with 600+ icons, free for personal and commercial use.</p>
	<p><a href="http://glyphicons.com">Glyphicons</a> // Popular, high-quality icon set. Not free.</p>
	<p><a href="http://www.icondeposit.com">Icon Deposit</a> // Icon sets and individual icons, some/most free for personal and commercial use.</p>
	<p><a href="http://www.tenbytwenty.com/sosa.php">Sosa</a> // A free icon font with 120+ icons.</p>
</section>

<section>
	<h4>Patterns</h4>
	<p><a href="http://www.pixeden.com/graphic-web-backgrounds/wood-pattern-background">Pixeden</a> // Free tilable wood patterns.</p>
	<p><a href="http://subtlepatterns.com">Subtle Patterns</a> // Searchable collection of free tilable patterns. </p>
</section>

<section>
	<h4>Ruby & Rails</h4>
	<p><a href="http://railsforzombies.org">Rails for Zombies</a> // Unique, free Rails and MVC tutorial.</p>
	<p><a href="http://mislav.uniqpath.com/poignant-guide/">Why's (Poignant) Guide to Ruby</a> // Artful introduction to Ruby.</p>
</section>

<section>
  <h4>Tools</h4>
  <p><a href="http://browserhacks.com/">Browser Hacks</a> // Guide to targeting specific browsers via CSS.</p>
  <p><a href="http://lab.maltewassermann.com/viewport-resizer/">Viewport Resizer</a> // Bookmarklet that makes checking responsive design easy.</p>
  <p><a href="http://www.mindscapehq.com/products/web-workbench">Web Workbench</a> // Visual Studio&reg; plugin for Sass, LESS, and CoffeeScript.</p>
	</div>
	
	<div class="twitter span4">
	<h3>Twitter</h3>
	<% @tweets.each do |i| %>
	  <p><span class="twitter-user"><%= i.user.name %></span> <span class="twitter-sn">@<%= i.user.screen_name %></span><br />
	  <%= raw auto_link(i.text) %></p>
  <% end %>
  <a class="twitter-icon" href="https://www.twitter.com/SmockleWeb"><i class="icon-twitter icn"></i></a>
  </div>
</div>

<div class="row">
	<div class="pagination pagination-centered span12">
	  <ul>
	    <li class="disabled"><a href="blog"><%=t :next %></a></li>
	    <li><a href="blog"><%=t :previous %></a></li>
	  </ul>
	</div>
</div>

<div class="row">
	<a class="span12 icn" href="intro"><i class="icon-chevron-up"></i></a>
</div>
