<%= render "nav" %>

<div class="row">
	<h1 class="span12"><%=t :intro_title %></h1>
</div>

<div class="row">
	<div class="span4">
		<h3><%=t :about_me %></h3>
		<%= render "home/intro_message" %>
	</div>
	
	<div class="span4">
		<h3><%=t :skills %></h3>
		<%= render "home/intro_skills" %>
	</div>
	
	<div class="span4">
		<h3><%=t :projects %></h3>
  	<div class="carousel slide" data-interval="5000">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <a href="projects" class="thumbnail" data-id="1"><%= image_tag "projects/1-crop.png" %></a>
        </div>
    
        <div class="item">
          <a href="projects" class="thumbnail" data-id="2"><%= image_tag "projects/2-crop.png" %></a>
        </div>
    
        <div class="item">
          <a href="projects" class="thumbnail" data-id="3"><%= image_tag "projects/3-crop.png" %></a>
        </div>
        
        <div class="item">
          <a href="projects" class="thumbnail" data-id="4"><%= image_tag "projects/4-crop.png" %></a>
        </div>
      </div>
    </div>
	</div>
</div>

<div class="row">
	<a class="span12 icn"><i class="icon-chevron-down"></i></a>
</div>