<%= render "nav" %>

<div class="row">
	<h1 class="span12"><%=t :projects_title %></h1>
</div>
	
<div class="row">
	<div class="span6">
  	<ul class="thumbnails">
  	 <li class="project-image" data-id="1">
  	   <a class="thumbnail"><%= image_tag "projects/1-crop.png" %></a>
  	 </li>
  	 <li class="project-image" data-id="2">
  	   <a class="thumbnail"><%= image_tag "projects/2-crop.png" %></a>
  	 </li>
  	 <li class="project-image" data-id="3">
  	   <a class="thumbnail"><%= image_tag "projects/3-crop.png" %></a>
  	 </li>
  	 <li class="project-image" data-id="4">
  	   <a class="thumbnail"><%= image_tag "projects/4-crop.png" %></a>
  	 </li>
    </ul>
  </div>
	
	<div class="span6">
		<h3 class="project-client"><%= @project.client %></h3>
		<h4 class="project-name"><%= I18n.locale == :es ? @project.name_es : @project.name %></h4>
		<blockquote class="project-quote"><%= I18n.locale == :es ? @project.quote_es : @project.quote %></blockquote>
		<div class="project-message"><%= raw I18n.locale == :es ? @project.message_es : @project.message %></div>
	</div>
</div>

<div class="row">
	<div class="pagination pagination-centered span12">
	  <ul>
	    <li class="active project-page" data-id="1"><a>1</a></li>
	    <li class="project-page" data-id="2"><a>2</a></li>
	    <li class="project-page" data-id="3"><a>3</a></li>
	    <li class="project-page" data-id="4"><a>4</a></li>
	  </ul>
	</div>
</div>

<div class="row">
	<a class="span12 icn"><i class="icon-chevron-down"></i></a>
</div>