<section id="intro">
	<h2>I'm Clay Miller,<br>
		and I build the Internet.</h2>
	<h3>Lorem ipsum isom dolor sit amet.</h3>
</section>

<section id="about">
	<h3>Here are my skills:</h3>
	<div>
		<h4>Design</h4>
		<i class="icon-flow-tree"></i>
		<p>I discuss project details with my clients and then create basic site mockups. I use CSS, LESS and SASS to deliver premier web experiences.</p>
	</div>
	<div>
		<h4>Develop</h4>
		<i class="icon-wrench"></i>
		<p>I build websites using Ruby on Rails or ASP.NET MVC. I've written a few jQuery plugins, and I've also set up WordPress blogs.</p>
	</div>
	<div>
		<h4>Deploy</h4>
		<i class="icon-rocket"></i>
		<p>I tweak my sites until everything is just right, and then work with my clients to share them with the world.</p>
	</div>
</section>

<section id="projects">
	<h3>Here are my recent projects:</h3>
	<% @projects.each do |project| %>
	<div>
		<h4><%= project.name %></h4>
		<a href="/projects/<%= project.id %>">
			<div class="image" data-id="<%= project.id %>" data-offset_x="<%= project.offset_x %>" data-offset_y="<%= project.offset_y %>"></div>
		</a>
	</div>
	<% end %>
</section>

<section id="feeds">
	<h3>Here are my feeds:</h3>
	<div>
  	<article>
  		<img src="<%= @instagram.html_safe %>">
  		<cite>via <a href="https://instagram.com/claydm">Instagram</a></cite>
  	</article>
	</div>
	<div>
  	<article>
  		<blockquote><%= @twitter.html_safe %></blockquote>
  		<cite>via <a href="https://twitter.com/smockled">Twitter</a></cite>
  	</article>
  	<article>
  		<blockquote><%= @stackoverflow.html_safe %></blockquote>
  		<cite>via <a href="https://stackoverflow.com/users/1923134/smockle">Stack Overflow</a></cite>
  	</article>
  	<article>
  		<p><%= @github.html_safe %></p>
  		<cite>via <a href="https://github.com/smockle">Github</a></cite>
  	</article>
	</div>
</section>

<section id="contact">
	<h3>Contact me! Talk about a project, or just say hello.</h3>
	<div>
		<h4>Dear Smockle,</h4>
		<textarea placeholder="Your message. You could describe a project you'd like to work on, or you could ask more about my work. I can't wait to hear from you!"></textarea>
		<label>
			Sincerely,<br>
			<input type="text" placeholder="Your name."></input>
			<input type="text" placeholder="Your email."></input>
			<a href="/mail" type="submit">Send</a>
		</label>
	</div>
</section>
