<section id="intro" class="section">
    <div class="section-wrapper">
        <h2>I'm Clay Miller,<br>
            and I build the Internet.</h2>
        <h3 class="section-title">Lorem ipsum isom dolor sit amet.</h3>
    </div>
</section>

<section id="about" class="section">
    <div class="section-wrapper flex">
        <h3 class="flex-title">Here are my skills:</h3>
      
        <div class="flex-content">
            <i class="icon-flow-tree"></i>
            <h4>Design.</h4>
            <p>I discuss project details with my clients and then create basic site mockups. I use CSS, LESS and SASS to deliver premier web experiences.</p>
        </div>
      
        <div class="flex-content">
            <i class="icon-wrench"></i>
            <h4>Develop.</h4>
            <p>I build websites using Ruby on Rails or ASP.NET MVC. I've written a few jQuery plugins, and I've also set up WordPress blogs.</p>
        </div>
      
        <div class="flex-content">
            <i class="icon-rocket"></i>
            <h4>Deploy.</h4>
            <p>I tweak my sites until everything is just right, and then work with my clients to share them with the world.</p>
        </div>
    </div>
</section>

<section id="projects" class="section">
    <div class="section-wrapper">
        <h3 class="section-title">Here are my recent projects:</h3>
      
        <% @projects.each do |project| %>
        <div class="section-third thumbnail">
            <h4 class="thumbnail-title"><%= project.name %></h4>
              
            <a class="thumbnail-body" href="/projects/<%= project.id %>">
                <div class="thumbnail-image" data-id="<%= project.id %>"></div>
            </a>
        </div>
        <% end %>
    </div>
</section>

<section id="feeds" class="section" data-ng-app="NG_SMOCKLE" data-ng-controller="feeds" data-ng-csp>
    <div class="section-wrapper">
        <h3 class="section-title">Here are my feeds:</h3>
        
        <div class="section-third">
        <article class="feed">
          <img class="feed-content" data-ng-src="{{ instagram }}">
          <cite class="feed-source">via <a href="https://instagram.com/claydm">Instagram</a></cite>
        </article>
        </div>
        
        <div class="section-third section-third--double">
          <article class="feed">
            <blockquote class="feed-content" data-ng-bind-html-unsafe="twitter"></blockquote>
            <cite class="feed-source">via <a href="https://twitter.com/smockled">Twitter</a></cite>
          </article>
            
          <article class="feed">
            <blockquote class="feed-content" data-ng-bind-html-unsafe="stackoverflow"></blockquote>
            <cite class="feed-source">via <a href="https://stackoverflow.com/users/1923134/smockle">Stack Overflow</a></cite>
          </article>
            
          <article class="feed">
            <blockquote class="feed-content" data-ng-bind-html-unsafe="github"></blockquote>
            <cite class="feed-source">via <a href="https://github.com/smockle">Github</a></cite>
          </article>
        </div>
      </div>
</section>

<section id="contact" class="section">
    <div class="section-wrapper">
        <h3 class="section-title">Contact me! Talk about a project, or just say hello.</h3>
        
        <div class="section-third section-third--triple">
          <ul class="loading hidden">
            <li class="loading-spinlet"></li>
            <li class="loading-spinlet"></li>
            <li class="loading-spinlet"></li>
            <li class="loading-spinlet"></li>
          </ul>
          
          <h4>Dear Smockle,</h4>
          
          <%= form_for @message, :class => "form", :url => { :action => "mail", :controller => "home" }, :method => :post do |f| %>
            <%= f.text_area :content, :class => "form-textarea", :placeholder => "Your message. You could describe a project you'd like to work on, or you could ask more about my work. I can't wait to hear from you!" %>
              
            <label class="form-label">
              Sincerely,<br>
              <%= f.text_field :name, :class => "form-field", :placeholder => "Your name." %>
            </label>
              
            <label class="form-label">
              <%= f.text_field :email, :class => "form-field", :placeholder => "Your email." %>
              <button type="button" class="form-button">Send</button>
            </label>
          <% end %>
        </div>
      </div>
</section>
