<section id="project">
  <h3><%= @project.name %></h3>
  <h4><%= @project.client %></h4>
  <div>
  	<blockquote>"<%= @project.quote %>"</blockquote>
	</div>
	<div>
  	<p><%= @description[0] %></p>
	</div>
	<div>
  	<p><%= @description[1] %></p>
	</div>
	<div>
  	<div class="image" data-id="<%= @project.id %>"></div>
	</div>
</section>