<section id="project">
  <h3><%= @project.name %></h3>
  <div>
  	<blockquote>"<%= @project.quote %>"</blockquote>
	</div>
	<div>
  	<p><%= @project.description %></p>
	</div>
	<div>
  	<p><%= @project.description %></p>
	</div>
	<div>
  	<div class="image" data-id="<%= @project.id %>"></div>
	</div>
</section>