<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
    <h3>New message from Smockle.</h3>

    <p><%= @message.reason.reason %> <%= @message.message %></p>
    
    <p><%= @message.first %> <%= @message.last %><br />
    <%= @message.organization %><br />
    <%= @message.email %><br />
    <%= @message.phone %></p>
  </body>
</html>