<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Smockle</title>
    <meta name="description" content="Web developer. Web designer. Coffee aficionado. Arts patron. Avid hammocker. I build the Internet.">
    <meta name="p:domain_verify" content="adcc5e23e134aa6d1456ff371adb7b3b"/>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    
    <style>
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}header,nav,section{display:block}a{background:0 0}h1{margin:.67em 0}input{color:inherit;margin:0}input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}@font-face{font-family:Pacifico;font-style:normal;font-weight:400;src:local("Pacifico Regular"),local("Pacifico-Regular"),url(http://themes.googleusercontent.com/licensed/font?kit=O3mZboUBgPw6CesoADMXgMHBT0Bfi57OGPM5Ud9orR4) format("truetype")}@font-face{font-family:"Pacifico Neue";font-style:normal;font-weight:400;src:url(http://a2.smockle.com/assets/pacifico-69c1c7cf8b6b1873cb3ab8277a64d8a9.woff?9309851) format("woff")}@font-face{font-family:fontello;src:url(http://a2.smockle.com/assets/fontello-97d7f253eae52245b64b8756863c881f.eot?9309851);src:url(http://a2.smockle.com/assets/fontello-97d7f253eae52245b64b8756863c881f.eot?9309851#iefix) format("embedded-opentype"),url(http://a0.smockle.com/assets/fontello-9c102ce8ea42e65f4c66397f1dc7b550.woff?9309851) format("woff"),url(http://a0.smockle.com/assets/fontello-5f129682a97bac3b4773eeb55d08cce0.ttf?9309851) format("truetype"),url(http://a2.smockle.com/assets/fontello-90e70c7c8e5ae0718054bd6ee7d86463.svg?9309851#fontello) format("svg");font-weight:400;font-style:normal}[class^=icon-]:before{font-family:fontello;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em}.icon-flow-tree:before{content:'\e802'}.icon-wrench:before{content:'\e801'}.icon-rocket:before{content:'\e803'}::selection{color:#fff;background:#c3363c}::-moz-selection{color:#fff;background:#c3363c}html{background-color:#282828;font-size:18px}body{background-color:#282828;color:#fff;font-family:"Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif;margin:auto}a{color:#c3363c;text-decoration:none}h1{display:block;font:2.2rem "Pacifico Neue",Pacifico,"Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif;letter-spacing:.1rem}h2{font:200 2.4rem/3.4rem "Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif;margin:0 0 1rem}h3{font:200 1.6rem "Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif;margin:0 0 2rem;text-align:center}h4{font:200 1.2rem "Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif;margin:0 0 1rem;text-align:center}i{display:block;font-size:9rem;text-align:center}input{border:1px solid #282828;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font:1rem/1.1rem "Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif;height:2rem;padding:0 1rem}@media screen and (min-width:0 \0){input{height:2rem;padding:0 1rem}}p{font:1rem/1.7rem "Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif;margin:0 0 1rem}@media screen and (min-width:50em){h1{display:inline-block}h2{font:200 3.5rem/4.9rem "Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif}h3{font:200 2rem "Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif}}@media screen and (min-width:75em){i{font-size:12rem}}header.section{padding:0 5%;position:static;z-index:2}header>.flex{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.site-nav{-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;font:400 .9rem "Futura Neue","Helvetica Neue",Helvetica,Arial,sans-serif;width:16rem}.site-nav a{display:inline-block;padding:.2rem 0}header a{color:#fff}@media screen and (min-width:50em){header.section{padding:0 10%;position:fixed;width:80%;top:0}}.section{text-align:center;padding:5%}.section>.flex{margin:0 auto;max-width:1008px}@media screen and (min-width:50em){.section{padding:4.4rem 10%}}.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.flex-content,.flex-title{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;width:100%}.flex-content p{text-align:left}@media screen and (min-width:50em){.flex-content{-webkit-flex-basis:30.5%;-ms-flex-preferred-size:30.5%;flex-basis:30.5%;width:30.5%}}.section:nth-of-type(3n+1){background-color:#282828;color:#fff}.section:nth-of-type(3n+2){background-color:#eff2f4;color:#282828}.section:nth-of-type(3n+3){background-color:#fff;color:#5b5b5b}.section:nth-of-type(3n+3) .flex-title{color:#5b5b5b}.thumbnail{padding-bottom:2rem}.thumbnail-title{margin-bottom:.5rem}.thumbnail-body{border:1px solid #a7a7a7;display:block;margin:0 auto;max-height:158px;max-width:305px;position:relative}.thumbnail-image{display:block;height:10rem;margin:0 auto;max-height:158px;z-index:-1}#about .flex-title{margin-bottom:0}#about .flex-content h4{font-size:1.6rem;margin-bottom:.5rem;text-align:left}#about .flex-content i{color:#c3363c;-webkit-transition:color .2s linear;transition:color .2s linear}#projects div:nth-of-type(1) .thumbnail-image{background:url(http://a3.smockle.com/assets/projects/thumbnails/12-5bd8f0400079072f6f7a1415f0f19ff4.png) no-repeat center center}#projects div:nth-of-type(2) .thumbnail-image{background:url(http://a1.smockle.com/assets/projects/thumbnails/11-efdfcc35d4968c60dc5a2179f0775d12.png) no-repeat center center}#projects div:nth-of-type(3) .thumbnail-image{background:url(http://a2.smockle.com/assets/projects/thumbnails/10-2112ee706f597dc87a7f9c34439e783f.png) no-repeat center center}#projects div:nth-of-type(4) .thumbnail-image{background:url(http://a1.smockle.com/assets/projects/thumbnails/9-dace8340e01fcec3a8c1885757622f42.png) no-repeat center center}#projects div:nth-of-type(5) .thumbnail-image{background:url(http://a2.smockle.com/assets/projects/thumbnails/8-20c2a761baa7dfd36cc7c308b8849c0c.png) no-repeat center center}#projects div:nth-of-type(6) .thumbnail-image{background:url(http://a2.smockle.com/assets/projects/thumbnails/7-8043cf9e63469a23d0ebc75fb278d7ec.png) no-repeat center center}#projects div:nth-of-type(7) .thumbnail-image{background:url(http://a3.smockle.com/assets/projects/thumbnails/6-d04a2276965944e97f810b25a1738a8e.png) no-repeat center center}@media screen and (min-width:50em){#intro{margin-top:5rem}}
    </style>
    <script>function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
    loadCSS("<%= asset_path "application", type: :stylesheet %>");</script>
<!--    <%= stylesheet_link_tag "application", :media => "all" %>-->
      
    <script defer src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>    
    <script defer src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <%= javascript_include_tag :modernizr, :defer => true %>
    <%= javascript_include_tag "application", :defer => true %>
      
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 152 x 152 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-152x152-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '152x152' %>
  
    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 120 x 120 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-120x120-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '120x120' %>
  
    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 76 x 76 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-76x76-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '76x76' %>
    
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
  
    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <header class="section">
      <div class="flex">
        <a class="site-logo" href="/"><h1>Smockle.</h1></a>
        <nav class="site-nav flex">
          <a href="#about">ABOUT</a>
          <a href="#projects">WORK</a>
          <a href="#feeds">FEEDS</a>
          <a href="#contact">CONTACT</a>
        </nav>
      </div>
    </header>
    
    <%= yield %>
    
    <footer>
      <p>Copyright &copy; <%= Time.now.year %> Clay Miller. All rights reserved.</p>
    </footer>
    
    <% if Rails.env.production? %>
      <!-- Google Analytics. -->
      <script>(function(G,o,O,g,l){G.GoogleAnalyticsObject=O;G[O]||(G[O]=function(){(G[O].q=G[O].q||[]).push(arguments)});G[O].l=+new Date;g=o.createElement('script'),l=o.scripts[0];g.src='//www.google-analytics.com/analytics.js';l.parentNode.insertBefore(g,l)}(this,document,'ga'));ga('create','UA-37140610-3');ga('send','pageview')</script>
    <% end %>
  </body>
</html>
